.footer-form {
  @media screen and (max-width: 480px) {
    text-align: center;
  }

  @media screen and (min-width: 480px) {
    text-align: center;
  }
@media screen and (min-width: 768px) and (max-width: 1199px) {
   width: 450px;
}
  @media screen and (min-width: 768px) {
   
    text-align: center;
    margin-left: auto;
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
        margin-right: 0px;
    margin-left: 0;
    // display: flex;
    // flex-direction: column;
  }
}

.footer-form__subscribe {
  margin-top: 0px;
  margin-bottom: 20px;

  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 1.14;
  text-transform: uppercase;

  color: #ffffff;
  @media screen and (min-width: 1200px) {
    text-align: left;
  }
  
}

.footer-form-flex {
@media screen and (min-width: 1200px) {
   display: flex;
}

   & [name='e-mail'] {
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 1.25;

    align-items: center;
    letter-spacing: 0.03em;

    color: rgba(255, 255, 255, 0.6);
  }
}

.footer-form__input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  margin-bottom: 20px;

  width: 100%;
  height: 50px;

  @media screen and (min-width:1200px) {
    width: 358px;
  }

  background: #2f303a;

  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;

  &:hover {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  }
}
