.footer-social-links {
  margin-bottom: 60px;

  color: #ffffff;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  &__item:not(:last-child) {
    margin-right: 10px;
  }

  @media screen and (min-width: 768px) {
    margin-right: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 93px;
  }
}

.footer-social-links__offer {
  display: inline-block;
  margin-bottom: 20px;
}

.footer-social-links__icon {
  width: 20px;
  height: 20px;
}

.footer-social-links__link {
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;

  background: rgba(255, 255, 255, 0.1);
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
    background-color: #2196f3;
    fill: #ffffff;
    border-color: #2196f3;
  }
}
