.logo-contacts {
  margin-right: 0px;

  @media screen and (min-width: 768px) {
    margin-right: 165px;
    margin-left: auto;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 70px;
    margin-left: 0px;
    text-align: left;
  }
}
