.button {
  display: inline-block;
  padding: 10px 32px;

  min-width: 200px;
  min-height: 50px;
  
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  cursor: pointer;

  color: #ffffff;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  background-color: $accent-text-color;
  font-weight: bold;
  text-decoration: none;
  text-align: center;

  &--send {
  text-align: left;
  width: 200px;
  display: flex;

@media screen and (max-width: 1199px){
     display: flex;
      margin-right: auto;
      margin-top: 20px;
  margin-left: auto;
  }
}
  &--submit {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
}
.button--grey {
  border-radius: 4px;
  border-color: transparent;
  padding: 6px 22px;

  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: $primary-text-color;
  background-color: #f5f4fa;

  transition: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  color: #ffffff;
  background-color: $accent-text-color;
}
}
