.header__address {
  
  margin-left: auto;
  margin-right: auto;
  margin-left: auto;

  @media screen and (min-width: 768px) and (max-width: 1199px) {
    display: flex;
    flex-direction: column;
    padding-top: 21px;
    padding-bottom: 21px;
    
    margin-right: 0;
    margin-left: 0;
  }
  .contacts {
   @media screen and (max-width:767px) {
    margin-bottom: 16px;
   }
 
 }

}

  // padding-top: 32px;
  // padding-bottom: 32px;
  // align-items: center;



.contacts {
  
  @media screen and (max-width:767px) {
  display: block;}
@media screen and (min-width:768px) and (max-width: 1199px) {
  display: flex;
    font-size: 12px;
  line-height: 1.14;
}

  font-size: 18px;
  line-height: 1.17;
  color: $secondary-text-color;
  font-weight: 500;
  font-style: normal;
 
  letter-spacing: 0.02em;
  text-decoration: none;

 
  transition: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:last-child {
  margin-right: 0;
}
&:first-child {
  @media screen and (min-width: 768px) {
    margin-bottom: 10px;
  }
}

&:hover,
&:focus {
  color: $accent-text-color;
}
}

.contacts svg {
  margin-right: 10px;
  fill: currentColor;
}

.contacts svg:hover,
.contacts svg:focus {
  fill: $accent-text-color;
}