
.form-field {
  position: relative;
  margin-top: 10px;
  // margin-bottom: 4px;
  display: flex;
  flex-direction: column;


}

.form-field__icon {
  position: absolute;
  top: 52%;
  left: 12px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__label {
  margin-bottom: 4px;

  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  font-weight: 400;
  color: #757575;
}
.form-field textarea {
  margin-bottom: 20px;
  padding: 16px;
  width: 448px;

  max-width: 100%;
  height: 120px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field textarea:focus {
  border-color: #2196f3;
  outline: none;
}
textarea::placeholder {
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 0.5);
}

.form-field__label.policy {
  @media screen and (max-width:1199px) {
    font-size: 12px;
    line-height: 1.16;
  }
  margin-bottom: 0;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.policy a {
  color: $accent-text-color;
}
.form-field__input {
  padding-top: 11px;
  padding-bottom: 11px;
  padding-left: 42px;
  padding-right: 12px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-field__input:focus {
  border-color: #2196f3;
  outline: none;
}
.form-field__input:focus + .form-field__icon {
  fill: #2196f3;
}

.checkbox {
  margin-bottom: 30px;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
  outline: none;
}
.form-field__label.policy {
  display: inline-block;
}
.form-field__label.policy::before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-left: 0;
  margin-right: 4px;

@media screen and (min-width: 1200px) {
  margin-bottom: -3px;
  margin-left: 8px;
  margin-right: 8px;
}
  
  background-image: url(../images/checkbox.svg);
  background-repeat: no-repeat;
  background-size: contain;
}
input[type="checkbox"]:checked + .form-field__label.policy::before {
  background-image: url(../images/check.svg);
  background-color: #2196f3;
  border-radius: 3px;
}

.close-button {
  position: absolute;

  top: 11px;
  right: 8px;

  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  width: 30px;
  height: 30px;

  margin: 0;
  padding: 0;
  background-color: #fff;
}

.close {
  margin-top: 3px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

  .close-button:hover & {
  fill: $accent-text-color;
}
}


