.logo {
  font-family: Raleway, sans-serif;
  color: black;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  text-decoration: none;

  margin-right: 93px;
  display: block;
  
&--accent {
color: $accent-text-color;
}
}
