.clients {
  display: flex;
  flex-wrap: wrap;
   }

.clients__link {
  display: flex;
  height: 90px;
  margin-bottom: 30px;
 
  flex-basis: calc((100% - 30px) / 2) ;

  justify-content: center;
  align-items: center;

  @media screen and (min-width: 768px) {
    flex-basis: calc((100% - 2 * 30px) / 3);
    margin-right: 30px;

    &:nth-child(3) {
      margin-right: 0;
    }
    &:nth-child(6) {
      margin-right: 0;
    }

    
  }
  @media screen and (max-width: 767px) {
    &:nth-child(2n + 1) { 
  margin-right: 30px;
  }
  }

  
  &:last-child {
  margin-bottom: 60px;
}
}

.clients__logo {
   
  display: flex;
  height: 100%;
  width: 100%;
 border: 1px solid #afb1b8;
  border-radius: 4px;
  transition: border;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  border: 1px solid #2196f3;
}
}
 
.clients__logo svg {
  
display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
fill: #afb1b8;
  transition: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.clients__logo:hover svg,
.clients__logo:focus svg {
  fill: $accent-text-color;
}


