.container {
  width: 1200px;
  padding-right: 15px;
  padding-left: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-top: 94px;

  &--basic {
  padding-bottom: 94px;
}
&--team {
  background-color: #f5f4fa;
}
}

.portfolio .container {
  margin-top: 94px;
  margin-bottom: 50px;
}