.our-benefits__list {
  @media screen and (min-width: 768px) {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
}

.our-benefits__item svg {
width: 70px;
height: 70px;

  display: block;
margin-left: auto;
margin-right: auto;

  // margin: 25px 100px;
}
.our-benefits__background {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #f5f4fa;
}
.our-benefits__item {
display: block;
@media screen and (min-width:768px) {
  flex-basis: calc((100% - 3 * 10px) / 2)
  }
  &:first-child {
    @media screen and (min-width:768px) {
    margin-bottom: 30px;}
  }
  // width: 270px;
  &:last-child {
    margin-bottom: 60px;
    // @media screen and (min-width:768px) {
    //   margin-bottom: 0;
    // }

  }

  &:not(:last-child) {

  // margin-right: 30px;
}
}

.our-benefits__title {
margin-top: 30px;
  margin-bottom: 10px;

  color: $primary-text-color;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
  
}
.our-benefits__description {
margin-top: 0;
  margin-bottom: 0;
  text-align: center;
  margin-bottom: 30px;

  color: $secondary-text-color;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  
  &:last-child {
    margin-bottom: 0;
  }
}
