.button-list {
  display: flex;
  
  justify-content: center;
  margin-bottom: 50px;

  @media screen and (max-width: 767px) {
   flex-wrap: wrap;
   justify-content: flex-start;

  }
  @media screen and (max-width: 767px) {
  margin-top: 60px;
  margin-bottom: 25px;
}
}

.button-list li {
@media screen and (max-width: 767px) {
   flex-wrap: wrap;
    margin-bottom: 15px;
      }
}

.button-list li:not(:last-child) {
  margin-right: 8px;

  
}

.portfolio__thumb {
  position: relative;
  overflow: hidden;

  &::before {
  position: absolute;

  content: "";
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  transform: translateY(101%);

  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
} 

.legend {
  position: absolute;
  top: 100%;

  padding: 63px 24px;
  margin-top: 0;
  margin-bottom: 0;

  font-size: 18px;
  line-height: 1.56;
  font-style: normal;
  font-weight: normal;
  letter-spacing: 0.03em;
  color: #ffffff;

  transition: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}


.portfolio__link:hover .legend {
  transform: translateY(-100%);
 }

.portfolio__link:hover .portfolio__thumb::before {
  transform: translateY(0);
}

.portfolio__list {
  display: flex;
  flex-wrap: wrap;
}
.portfolio__describtion {
  background: #ffffff;
  border: 1px solid #eeeeee;
  padding: 20px 24px;
}
.portfolio__list li {
margin-right: auto;
    margin-left: auto;

@media screen and (max-width: 767px) {
  &:last-child {
    margin-bottom: 60px;
  }
}
  // max-width: 370px;
  // margin-right: 30px;
  margin-bottom: 30px;

  transition: all;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  
 &:hover,
&:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
// &:nth-child(3n) {
//   margin-right: 0;
// }
// &:nth-last-child(-n + 3) {
//   margin-bottom: 0;
// }
}

.portfolio__title {
  color: $primary-text-color;
  font-weight: bold;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  text-decoration: none;
  margin-top: 0;
  margin-bottom: 8px;
}
.portfolio__subtitle {
  color: $secondary-text-color;
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  margin-top: 0;
  margin-bottom: 0;
}
