// Скрываем секцию для мобилок

.what-we-do {
  display: none;


}

.what-we-do-list {

  // display: flex;

 & li:not(:last-child) {
  margin-right: 30px;
} 
}

.thumb {
  position: relative;
}
.what-we-do__title {
  position: absolute;
  padding-top: 22px;
  padding-bottom: 22px;

  margin-bottom: 0;
  bottom: 0;
  right: 0;
  left: 0;
  text-transform: uppercase;
  text-align: center;
  font-weight: bold;
  color: #ffffff;

  background-color: rgba(47, 48, 58, 0.8);
}